# serverless.yml

service: alexa-iou # NOTE: update this with your service name

provider:
  name: aws
  runtime: nodejs6.10

package:
  include:
    - src/**
  exclude:
    - .serverless
    - .git

functions:
  hello:
    handler: src/index.handler
    events:
      - alexaSkill
    provider:
      versionFunctions: false
    environment:
      APP_ID: amzn1.ask.skill.e978bf26-b5d8-409c-a769-7c5e7ab608cf

resources:
  Resources:
    iousTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: iousTable
        AttributeDefinitions:
          - AttributeName: device_id
            AttributeType: S
          - AttributeName: debitor
            AttributeType: S
        KeySchema:
          - AttributeName: device_id
            KeyType: HASH
          - AttributeName: debitor
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
