# serverless.yml

service: alexa-iou # NOTE: update this with your service name

provider:
  name: aws
  role: arn:aws:iam::983752327124:role/iou_lambda
  runtime: nodejs6.10

package:
  include:
    - src/**
  exclude:
    - .serverless
    - .git

functions:
  skillHandler:
    handler: src/index.handler
    events:
      - alexaSkill
    provider:
      versionFunctions: false
    environment:
      APP_ID: amzn1.ask.skill.e978bf26-b5d8-409c-a769-7c5e7ab608cf
      IOU_TABLE: iouTable

resources:
  Resources:
    iousTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: iouTable
        AttributeDefinitions:
          - AttributeName: device_id
            AttributeType: S
          - AttributeName: borrower
            AttributeType: S
        KeySchema:
          - AttributeName: device_id
            KeyType: HASH
          - AttributeName: borrower
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
